  <table class="custom-table">
    <thead>
      <tr>
        <th>Color</th>
        <th>Name</th>
        <th>Create Date</th>
        <th>Last Update</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" (click)="onEdit(item)">
        <td>
          <div class="color-box" [style.background]="item.color"></div>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.createDate | dateFormat }}</td>
        <td>{{ item.lastUpdate | dateFormat }}</td>
        <td>{{ item.createdBy }}</td>
      </tr>
    </tbody>
  </table>
