::ng-deep .sidenav {
  padding: 50px 70px;
  min-width: 400px;
  width: 40%;
  max-width: 760px;
  position: fixed;
  height: 100vh;
  border-radius: 0;

  ::ng-deep app-item-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-icon {
    color: #0e4f6e;
    font-weight: 600;
    &:hover {
    }
  }
  .sidenav-header {
    display: flex;
    justify-content: space-between;
    h2 {
      color: #0e4f6e;
      font-size: 20px;
      font-weight: 600;
      font-family: Helvetica, Thin Italic;
    }
  }
  .sidenav-form {
    justify-content: space-between;
    flex-grow: 1;
  }
  .fields {
    gap: 40px;
    .flex-row {
      gap: 20px;
    }
    .name-field {
      flex-grow: 1;
      input {
        height: 30px;
        padding: 5px;
        outline: none;
      }
    }

    .color-field {
      .flex-row {
        align-items: center;
        gap: 0;
        border-radius: 9px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
      }
      input {
        height: 40px;
        width: 40px;
        box-shadow: none;
        border-radius: 9px;
        outline: none;
      }
    }

    .des-field {
      textarea {
        border: none;
        height: 130px;
        padding: 5px;
        border-radius: 9px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        resize: none;
        outline: none;
      }
    }
    label {
      color: black;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }

    input {
      border: none;
      border-radius: 9px;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
    }
  }

  .action-bts {
    justify-content: space-between;
    button {
      cursor: pointer;
      width: 113px;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 4px;
      text-transform: uppercase;
    }
    .cancel-btn {
      color: #707070;
      border: 1px solid #707070;
      background: transparent;
    }

    .save-btn {
      align-items: center;
      color: white;
      border: none;
      justify-content: space-between;
      background-color: #2bae6d;
      mat-icon {
        color: white;
      }
      &.disabled {
        color: #575757;
        mat-icon {
          color: #575757;
        }
        background: grey;
      }
    }
  }
}
::ng-deep .mat-drawer-inner-container {
  overflow: unset;
}

.dismiss-btn {
  position: fixed;
  top: 36px;
  right: 36px;
}
